:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
  min-height: 100%;
  background-color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 58px 46px;
}

.header-logo {
  width: auto;
  max-width: 100%;
  justify-self: left;
}

.header-button {
  height: 28px;
  padding: 0px 23px;
  border: solid 2px var(--Pink);
  background-color: transparent;
  color: var(--Pink);
  cursor: pointer;
  font-size: 12px;
  width: max-content;
  border-radius: 12px;
  justify-self: right;
}

.header-button:hover {
  border: solid 1px var(--Light-Pink);
  color: var(--Light-Pink);
}

main {
  /* background-image: url(./images/bg-section-top-desktop-1.svg);
  background-image: url(./images/bg-section-bottom-desktop-1.svg);
  background-repeat: space; */
}

.information {
  display: grid;
  grid-column: 1fr;
  padding: 130px 160px 45px 160px;
  justify-items: center;
}

.information-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.info-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
  text-align: center;
  margin: 0px;
}

.info-excerpt {
  font-size: 15px;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  max-width: 54ch;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 25px 0px 36px 0px;
}

.info-button {
  height: 58px;
  padding: 0px 75px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 12px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 600;
}

.info-button:hover {
  background-color: var(--Light-Pink);
}

.info-image {
  width: auto;
  max-width: 100%;
  padding: 80px 0px 45px 0px;
}

.stats {
  padding: 45px 210px 45px 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-image {
  width: auto;
  max-width: 100%;
}

.stat-title {
  font-size: 72px;
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  margin: 0px;
}

.stat-excerpt {
  font-size: 18px;
  color: var(--Very-Dark-Cyan);
  font-weight: 400;
  opacity: 0.7;
  margin: 0px;
}

.properties {
  display: grid;
  grid-template-rows: 1fr;
  padding: 45px 160px 45px 160px;
  /* background-image: url(./images/bg-section-bottom-desktop-1.svg);

  background-color: aqua;
  background-position: 0ch 67em; */
}

.property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.property-info {
}

.property-title {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}

.property-excerpt {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
  color: var(--Very-Dark-Cyan);
  max-width: 60ch;
  width: 100%;
}

.property-image {
  width: auto;
  max-width: 100%;
}

.ready {
  text-align: center;
  padding: 130px 290px 130px 290px;
  font-family: "Poppins";
  font-size: 30px;
  color: var(--Very-Dark-Cyan);
  font-weight: 700;

  /* background-image: url(./images/bg-section-top-desktop-1.svg);
  position: relative;
  background-repeat: no-repeat; */
}

.ready-button {
  height: 58px;
  padding: 0px 75px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 12px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 600;
}

.ready-button:hover {
  background-color: var(--Light-Pink);
}

footer {
  color: white;
  background-color: var(--Very-Dark-Cyan);
  padding: 0px 90px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-logo {
  width: auto;
  max-width: 100%;
  filter: grayscale(1) brightness(10.5);
}

.footer-one-excerpt {
  max-width: 36ch;
  width: 100%;
  display: inline-block;
  font-size: 12px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-email {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 18px;
}

.footer-phone {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 18px;
}

.footer-social {
  display: flex;
  cursor: pointer;
  gap: 20px;
}

.social-image {
  width: 24px;
  max-width: 100%;
}

.footer-title {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 19px;
  font-weight: 700;
  margin: 0px;
}

.footer-two-excerpt {
  font-size: 12px;
  max-width: 42ch;
  width: 100%;
}

.footer-form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-button {
  height: 36px;
  padding: 0px 30px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 11px;
  border-radius: 3px;
  font-weight: 600;
}

.footer-button:hover {
  background-color: var(--Light-Pink);
}

.form-info {
  max-width: 238px;
  width: 100%;
}

#fmail {
  max-width: 238px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 3px;
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 58px 36px;
  }

  .information {
    padding: 130px 100px 45px 100px;
  }

  .stats {
    padding: 45px 110px 45px 110px;
  }

  .properties {
    padding: 45px 100px 45px 100px;
    text-align: center;
  }

  .property {
    display: grid;
    grid-template-columns: 1fr;
    gap: 72px;
  }

  .ready {
    padding: 130px 200px 130px 200px;
  }

  .footer {
    padding: 0px 45px;
  }

  @media only screen and (max-width: 786px) {
    header {
      padding: 40px 26px;
    }

    .information {
      padding: 130px 80px 45px 80px;
    }

    .stats {
      padding: 45px 80px 45px 80px;
    }

    .properties {
      padding: 45px 80px 45px 80px;
      text-align: center;
    }

    .property {
      display: grid;
      grid-template-columns: 1fr;
      gap: 72px;
    }

    .ready {
      padding: 130px 180px 130px 180px;
    }

    .footer {
      padding: 0px 45px;
    }

    .footer-container {
      display: flex;
      padding: 0px 25px;
      flex-direction: column-reverse;
    }

    /* #fmail {
      max-width: 200px;
      width: 100%; */
  }
  .footer-form {
    align-items: flex-end;
    flex-direction: column;
  }

  @media only screen and (max-width: 550px) {
    .header-button {
      font-size: 8px;
    }

    .info-title {
      font-size: 22px;
    }

    .information {
      padding: 40px 36px 45px 54px;
    }

    .info-button {
      padding: 0px 36px;
      font-size: 11px;
    }

    .stats {
      flex-direction: column;
      padding: 45px 98px 45px 98px;
      gap: 86px;
      align-items: flex-start;
    }

    .stat-title {
      font-size: 52px;
    }

    .stat-excerpt {
      font-size: 11px;
    }

    .properties {
      padding: 45px 30px 45px 30px;
    }

    .property-title {
      font-size: 18px;
    }

    .property-excerpt {
      font-size: 12px;
    }

    .ready {
      padding: 130px 60px 130px 60px;
    }

    .ready-title {
      font-size: 20px;
    }

    .ready-button {
      padding: 0px 38px;
      font-size: 11px;
    }

    footer {
      padding: 0px 24px;
    }

    .footer-container {
      padding: 0px;
    }

    .footer-title {
      font-size: 18px;
    }

    .social-image {
      width: 20px;
    }
  }
}
