:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
  min-height: 100%;
  background-color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 58px 46px;
}

.header-logo {
  width: auto;
  max-width: 100%;
  justify-self: left;
}

.header-button {
  height: 28px;
  padding: 0px 23px;
  border: solid 2px var(--Pink);
  background-color: transparent;
  color: var(--Pink);
  cursor: pointer;
  font-size: 12px;
  width: max-content;
  border-radius: 12px;
  justify-self: right;
}

.header-button:hover {
  border: solid 1px var(--Light-Pink);
  color: var(--Light-Pink);
}

main {
  background-image: url(./images/bg-section-top-desktop-1.svg);
  background-image: url(./images/bg-section-bottom-desktop-1.svg);
}

.information {
  display: grid;
  grid-column: 1fr;
  padding: 130px 160px 45px 160px;
  justify-items: center;
}

.information-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.info-title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 38px;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
  text-align: center;
}

.info-excerpt {
  font-size: 15px;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  width: 54ch;
  text-align: center;
}

.info-button {
  height: 58px;
  padding: 0px 75px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 12px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 600;
}

.info-button:hover {
  background-color: var(--Light-Pink);
}

.info-image {
  width: auto;
  max-width: 100%;
}

.stats {
  padding: 45px 210px 45px 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-image {
  width: auto;
  max-width: 100%;
}

.stat-title {
  font-size: 72px;
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  margin: 0px;
}

.stat-excerpt {
  font-size: 18px;
  color: var(--Very-Dark-Cyan);
  font-weight: 400;
  opacity: 0.7;
  margin: 0px;
}

.properties {
  display: grid;
  grid-template-rows: 1fr;
  padding: 45px 160px 45px 160px;
  /* background-image: url(./images/bg-section-bottom-desktop-1.svg);

  background-color: aqua;
  position: relative;
  background-repeat: no-repeat; */
}

.property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.property-info {
}

.property-title {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
}

.property-excerpt {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.8;
  color: var(--Very-Dark-Cyan);
  width: 60ch;
}

.property-image {
  width: auto;
  max-width: 100%;
}

.ready {
  text-align: center;
  padding: 130px 290px 130px 290px;
  font-family: "Poppins";
  font-size: 30px;
  color: var(--Very-Dark-Cyan);
  font-weight: 700;
  display: inline-block;
  /* background-image: url(./images/bg-section-top-desktop-1.svg);
  position: relative;
  background-repeat: no-repeat; */
}

.ready-button {
  height: 58px;
  padding: 0px 75px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 12px;
  border-radius: 26px;
  font-size: 15px;
  font-weight: 600;
}

.ready-button:hover {
  background-color: var(--Light-Pink);
}

footer {
  color: white;
  background-color: var(--Very-Dark-Cyan);
  padding: 0px 90px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-logo {
  width: auto;
  max-width: 100%;
  filter: grayscale(1) brightness(10.5);
}

.footer-one-excerpt {
  width: 36ch;
  display: inline-block;
  font-size: 12px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-email {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 18px;
}

.footer-phone {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 18px;
}

.footer-social {
  display: flex;
  cursor: pointer;
  gap: 20px;
}

.social-image {
  width: 24px;
  max-width: 100%;
}

.footer-title {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 19px;
  font-weight: 700;
  margin: 0px;
}

.footer-two-excerpt {
  font-size: 12px;
  width: 42ch;
}

.footer-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-button {
  height: 36px;
  padding: 0px 30px;
  border-style: none;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  cursor: pointer;
  font-size: 11px;
  border-radius: 3px;
  font-weight: 600;
}

.footer-button:hover {
  background-color: var(--Light-Pink);
}

#fmail {
  width: 236px;
  height: 36px;
  border: none;
  border-radius: 3px;
}
